/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
/* line 9, _normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 19, _normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 33, _normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 54, _normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 67, _normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 77, _normalize.scss */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 89, _normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 98, _normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 110, _normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 118, _normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 127, _normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 136, _normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 145, _normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 154, _normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 162, _normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 170, _normalize.scss */
sup {
  top: -0.5em;
}

/* line 174, _normalize.scss */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 185, _normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 193, _normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 204, _normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 212, _normalize.scss */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 221, _normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 229, _normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 252, _normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 266, _normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 277, _normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 290, _normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 302, _normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 311, _normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 322, _normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 334, _normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 346, _normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 356, _normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 367, _normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 376, _normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 387, _normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 396, _normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 405, _normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 416, _normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 421, _normalize.scss */
td,
th {
  padding: 0;
}

/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 13, _site.scss */
html {
  color: #222;
  font-size: 62.5%;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 27, _site.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 32, _site.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 41, _site.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
/* line 56, _site.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 69, _site.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 79, _site.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
/* line 87, _site.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 */
/* line 122, _site.scss */
.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
/* line 131, _site.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/* line 148, _site.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */
/* line 162, _site.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 178, _site.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 184, _site.scss */
.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  /* line 212, _site.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 222, _site.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 227, _site.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 231, _site.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  /* line 240, _site.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  /* line 245, _site.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  /* line 256, _site.scss */
  thead {
    display: table-header-group;
  }

  /* line 260, _site.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 265, _site.scss */
  img {
    max-width: 100% !important;
  }

  /* line 269, _site.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 276, _site.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* Variables =================================================== */
/* Mixins =================================================== */
/* line 74, _mixins.scss */
.clearfix {
  *zoom: 1;
}
/* line 67, _mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 71, _mixins.scss */
.clearfix:after {
  clear: both;
}

@font-face {
  font-family: 'SegoeUI';
  src: url("../fonts/segoeui.eot");
  src: url("../fonts/segoeui.eot?#iefix") format("embedded-opentype"), url("../fonts/segoeui.woff") format("woff"), url("../fonts/segoeui.ttf") format("truetype"), url("../fonts/segoeui.svg#segoeui") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans100';
  src: url("../fonts/museosans-100-webfont.eot");
  src: url("../fonts/museosans-100-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museosans-100-webfont.woff") format("woff"), url("../fonts/museosans-100-webfont.ttf") format("truetype"), url("../fonts/museosans-100-webfont.svg#museosans-100-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSans300';
  src: url("../fonts/museosans-300-webfont.eot");
  src: url("../fonts/museosans-300-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museosans-300-webfont.woff") format("woff"), url("../fonts/museosans-300-webfont.ttf") format("truetype"), url("../fonts/museosans-300-webfont.svg#museosans-300-webfont") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
/* line 46, _fonts.scss */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* line 57, _fonts.scss */
.icon-alone {
  display: inline-block;
  /* Fix for clickability issue in WebKit */
}

/* line 60, _fonts.scss */
.screen-reader-text {
  /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* Typography =================================================== */
/* line 5, _typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}

/* line 12, _typography.scss */
h1 small,
h2 small {
  font-weight: normal;
  color: #bfbfbf;
}

/* line 17, _typography.scss */
h1,
.h1 {
  margin-bottom: 0.75em;
  font-size: 32px;
  font-size: 3.2rem;
  line-height: 1.2;
}

/* line 23, _typography.scss */
h2,
.h2 {
  margin-bottom: 0.75em;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2;
}

/* line 29, _typography.scss */
h3,
.h3 {
  margin-bottom: 1em;
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1.3;
}

/* line 35, _typography.scss */
h4,
.h4 {
  margin-bottom: 1.5em;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.25;
}

/* line 41, _typography.scss */
h5,
.h5 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1.5em;
}

/* line 46, _typography.scss */
h6,
.h6 {
  margin-bottom: 1.5em;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 56, _typography.scss */
.header h1,
.header h2,
.header h3 {
  float: left;
  margin-right: 24px;
}
/* line 62, _typography.scss */
.header h1 a,
.header h2 a,
.header h3 a {
  display: block;
  position: relative;
  top: 6px;
  float: right;
  padding: 4px 12px;
  font-size: 14px;
  font-size: 1.4rem;
  background-color: #f3f5f6;
}
/* line 71, _typography.scss */
.header h1:hover,
.header h2:hover,
.header h3:hover {
  background-color: #f3f5f6;
}

/* line 75, _typography.scss */
.header .a-rss,
.header .a-rss:hover {
  float: left;
  width: 16px;
  height: 16px;
  padding: 0;
  background: transparent url(../img/a-rss.png) no-repeat 0 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 86, _typography.scss */
p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5em;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
}

/* line 95, _typography.scss */
small {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 98, _typography.scss */
ul,
ol {
  margin: 0 0 1.5em -24px;
  padding: 0 0 0 24px;
}

/* line 103, _typography.scss */
li ul,
li ol {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 110, _typography.scss */
blockquote {
  margin: 0 0 1.5em -24px;
  padding-left: 24px;
  border-left: 2px solid #c7ced6;
  font-family: Cambria, Georgia, Times, "Times New Roman";
  font-style: normal;
}

/* line 117, _typography.scss */
q {
  quotes: none;
}

/* line 120, _typography.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 127, _typography.scss */
cite {
  font-style: normal;
}

/* line 132, _typography.scss */
dl,
dd {
  margin-bottom: 1.5em;
}

/* line 136, _typography.scss */
dt {
  font-weight: bold;
}

/* line 141, _typography.scss */
.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right;
}
/* line 147, _typography.scss */
.dl-horizontal dd {
  margin-left: 22.78%;
}

/* line 153, _typography.scss */
abbr[title] {
  border-bottom: 1px dotted #c7ced6;
  cursor: help;
}

/* line 157, _typography.scss */
b, strong {
  font-weight: bold;
}

/* line 160, _typography.scss */
dfn {
  font-style: italic;
}

/* line 163, _typography.scss */
ins {
  background-color: #f3f5f6;
  color: black;
  text-decoration: none;
}

/* line 168, _typography.scss */
mark {
  background-color: #f3f5f6;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* line 174, _typography.scss */
pre,
code,
kbd,
samp {
  font-family: Monaco, Courier New, monospace;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
}

/* line 182, _typography.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 187, _typography.scss */
sub,
sup {
  position: relative;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  vertical-align: baselineheight;
}

/* line 194, _typography.scss */
sup {
  top: -0.5em;
}

/* line 197, _typography.scss */
sub {
  bottom: -0.25em;
}

/* Colour =================================================== */
/* line 8, _colour.scss */
a {
  text-decoration: none;
  color: #013568;
}
/* line 12, _colour.scss */
a:visited {
  color: #000203;
}
/* line 15, _colour.scss */
a:hover {
  text-decoration: underline;
  color: #011b35;
}
/* line 19, _colour.scss */
a:focus {
  outline: thin dotted;
  color: black;
}
/* line 23, _colour.scss */
a:hover, a:active {
  outline: 0;
}

/* line 28, _colour.scss */
::-moz-selection {
  background-color: #d6dbe1;
  color: #2d353e;
  text-shadow: none;
}

/* line 33, _colour.scss */
::selection {
  background-color: #d6dbe1;
  color: #2d353e;
  text-shadow: none;
}

/* line 40, _colour.scss */
.swatch {
  margin: 0 0 1.5em 0;
  padding: 0;
}

/* line 44, _colour.scss */
.swatch-row {
  display: block;
  margin: 0;
  padding: 0;
  width: 200px;
}

/* line 50, _colour.scss */
.swatch-row-one {
  background-color: black;
}

/* line 53, _colour.scss */
.swatch-row-two {
  background-color: white;
}

/* line 56, _colour.scss */
.swatch-row span {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
}

/* line 64, _colour.scss */
.swatch-base span:nth-child(1) {
  background-color: rgba(45, 53, 62, 0.9);
}

/* line 67, _colour.scss */
.swatch-base span:nth-child(2) {
  background-color: rgba(45, 53, 62, 0.8);
}

/* line 70, _colour.scss */
.swatch-base span:nth-child(3) {
  background-color: rgba(45, 53, 62, 0.7);
}

/* line 73, _colour.scss */
.swatch-base span:nth-child(4) {
  background-color: rgba(45, 53, 62, 0.6);
}

/* line 78, _colour.scss */
.swatch-alert span:nth-child(1) {
  background-color: rgba(252, 248, 227, 0.9);
}

/* line 81, _colour.scss */
.swatch-alert span:nth-child(2) {
  background-color: rgba(252, 248, 227, 0.8);
}

/* line 84, _colour.scss */
.swatch-alert span:nth-child(3) {
  background-color: rgba(252, 248, 227, 0.7);
}

/* line 87, _colour.scss */
.swatch-alert span:nth-child(4) {
  background-color: rgba(252, 248, 227, 0.6);
}

/* line 92, _colour.scss */
.swatch-error span:nth-child(1) {
  background-color: rgba(218, 79, 73, 0.9);
}

/* line 95, _colour.scss */
.swatch-error span:nth-child(2) {
  background-color: rgba(218, 79, 73, 0.8);
}

/* line 98, _colour.scss */
.swatch-error span:nth-child(3) {
  background-color: rgba(218, 79, 73, 0.7);
}

/* line 101, _colour.scss */
.swatch-error span:nth-child(4) {
  background-color: rgba(218, 79, 73, 0.6);
}

/* line 106, _colour.scss */
.swatch-info span:nth-child(1) {
  background-color: rgba(217, 237, 247, 0.9);
}

/* line 109, _colour.scss */
.swatch-info span:nth-child(2) {
  background-color: rgba(217, 237, 247, 0.8);
}

/* line 112, _colour.scss */
.swatch-info span:nth-child(3) {
  background-color: rgba(217, 237, 247, 0.7);
}

/* line 115, _colour.scss */
.swatch-info span:nth-child(4) {
  background-color: rgba(217, 237, 247, 0.6);
}

/* line 120, _colour.scss */
.swatch-success span:nth-child(1) {
  background-color: rgba(91, 183, 91, 0.9);
}

/* line 123, _colour.scss */
.swatch-success span:nth-child(2) {
  background-color: rgba(91, 183, 91, 0.8);
}

/* line 126, _colour.scss */
.swatch-success span:nth-child(3) {
  background-color: rgba(91, 183, 91, 0.7);
}

/* line 129, _colour.scss */
.swatch-success span:nth-child(4) {
  background-color: rgba(91, 183, 91, 0.6);
}

/* line 134, _colour.scss */
.swatch-warning span:nth-child(1) {
  background-color: rgba(250, 167, 50, 0.9);
}

/* line 137, _colour.scss */
.swatch-warning span:nth-child(2) {
  background-color: rgba(250, 167, 50, 0.8);
}

/* line 140, _colour.scss */
.swatch-warning span:nth-child(3) {
  background-color: rgba(250, 167, 50, 0.7);
}

/* line 143, _colour.scss */
.swatch-warning span:nth-child(4) {
  background-color: rgba(250, 167, 50, 0.6);
}

/* Elements =================================================== */
/* line 6, _elements.scss */
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #c7ced6;
  border-bottom: 1px solid white;
}

/* line 17, _elements.scss */
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* line 23, _elements.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 28, _elements.scss */
figure {
  margin-bottom: 1.5em;
}
/* line 31, _elements.scss */
figure img {
  margin-bottom: 0.375em;
}
/* line 34, _elements.scss */
figure figcaption {
  display: block;
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4rem;
  color: gray;
}

/* line 43, _elements.scss */
.list-bordered {
  list-style-type: none;
  margin: 0 0 1.5em 0;
  padding: 0;
}
/* line 48, _elements.scss */
.list-bordered li {
  margin-bottom: 0.375em;
  padding-bottom: 0.375em;
  border-bottom: 1px dashed #c7ced6;
}
/* line 53, _elements.scss */
.list-bordered li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom-width: 0;
}

/* Forms =================================================== */
/* line 3, _forms.scss */
form {
  margin: 0 0 1.5em 0;
}
/* line 6, _forms.scss */
form fieldset {
  margin-bottom: 1.5em;
  padding: 0;
  border-width: 0;
}
/* line 11, _forms.scss */
form legend {
  display: block;
  width: 100%;
  margin-bottom: 3em;
  *margin-left: -7px;
  padding: 0;
  color: black;
  border: 0;
  border-bottom: 1px solid #8c9bab;
  white-space: normal;
}
/* line 22, _forms.scss */
form legend small {
  font-size: 14px;
  font-size: 1.4rem;
  color: #bfbfbf;
}
/* line 27, _forms.scss */
form p {
  margin-bottom: 0.75em;
}
/* line 30, _forms.scss */
form ul {
  list-style-type: none;
  margin: 0 0 1.5em 0;
  padding: 0;
}
/* line 35, _forms.scss */
form br {
  display: none;
}

/* line 39, _forms.scss */
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-size: 1.4rem;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 48, _forms.scss */
input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 55, _forms.scss */
label {
  display: block;
  margin-bottom: 0.1875em;
  font-weight: bold;
  color: black;
  cursor: pointer;
}
/* line 62, _forms.scss */
label input,
label textarea,
label select {
  display: block;
}

/* line 68, _forms.scss */
input,
textarea,
select {
  display: inline-block;
  width: 100%;
  padding: 4px;
  margin-bottom: 0.375em;
  background-color: white;
  border: 1px solid #8c9bab;
  color: black;
}
/* line 79, _forms.scss */
input:hover,
textarea:hover,
select:hover {
  border-color: #586879;
}

/* line 83, _forms.scss */
.input-mini {
  width: 60px;
}

/* line 86, _forms.scss */
.input-small {
  width: 90px;
}

/* line 89, _forms.scss */
input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0 \9;
}

/* line 102, _forms.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 109, _forms.scss */
input[type="image"] {
  border: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 113, _forms.scss */
input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: transparent;
  background-color: initial;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 122, _forms.scss */
input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
  cursor: pointer;
  *overflow: visible;
}

/* line 130, _forms.scss */
select,
input[type="file"] {
  height: 28px;
  *margin-top: 4px;
  line-height: 28px;
}

/* line 136, _forms.scss */
select {
  width: auto;
  background-color: white;
  font-size: 13px;
  font-size: 1.3rem;
}

/* line 141, _forms.scss */
select[multiple],
select[size] {
  height: auto;
}

/* line 145, _forms.scss */
textarea {
  resize: vertical;
  overflow: auto;
  height: auto;
  overflow: auto;
  vertical-align: top;
}

/* line 151, _forms.scss */
input[type="hidden"] {
  display: none;
}

/* line 154, _forms.scss */
.radio,
.checkbox {
  padding-left: 18px;
  font-weight: normal;
}

/* line 159, _forms.scss */
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -18px;
}

/* line 164, _forms.scss */
.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

/* line 171, _forms.scss */
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}

/* line 177, _forms.scss */
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: not-allowed;
}

/* line 188, _forms.scss */
input:focus,
textarea:focus {
  border-color: #2d353e, 40%;
  outline: 0;
  outline: thin dotted \9;
}

/* line 194, _forms.scss */
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 200, _forms.scss */
::-webkit-input-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 203, _forms.scss */
input:-moz-placeholder {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 208, _forms.scss */
.help-block,
.help-inline {
  color: gray;
}

/* line 212, _forms.scss */
.help-block {
  display: block;
  margin-bottom: 0.75em;
}

/* line 216, _forms.scss */
.help-inline {
  display: inline-block;
  vertical-align: middle;
  padding-left: 5px;
}

/* line 223, _forms.scss */
.form-inline input,
.form-inline textarea,
.form-inline select {
  display: inline-block;
  margin-bottom: 0;
}

/* line 229, _forms.scss */
.form-inline label {
  display: inline-block;
}

/* line 232, _forms.scss */
.form-inline .radio,
.form-inline .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

/* line 239, _forms.scss */
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}

/* line 247, _forms.scss */
.form-search input,
.form-search textarea,
.form-search select {
  display: inline-block;
  margin-bottom: 0;
}

/* line 253, _forms.scss */
.form-search .search-query {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -moz-border-radius: 14;
  -webkit-border-radius: 14;
  border-radius: 14;
}

/* line 259, _forms.scss */
.form-search label {
  display: inline-block;
}

/* line 262, _forms.scss */
.form-search .radio,
.form-search .checkbox,
.form-inline .radio {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

/* line 269, _forms.scss */
.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"] {
  float: left;
  margin-left: 0;
  margin-right: 3px;
}

/* Tables =================================================== */
/* line 4, _tables.scss */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}
/* line 12, _tables.scss */
table th,
table td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #8c9bab;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
  text-align: left;
}
/* line 21, _tables.scss */
table th {
  font-weight: bold;
}
/* line 24, _tables.scss */
table thead th {
  vertical-align: bottom;
}
/* line 27, _tables.scss */
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}
/* line 33, _tables.scss */
table tbody + tbody {
  border-top: 2px solid #8c9bab;
}
/* line 36, _tables.scss */
table tbody tr td,
table tbody tr th {
  -moz-transition: background-color 0.25s 0 linear;
  -o-transition: background-color 0.25s 0 linear;
  -webkit-transition: background-color 0.25s 0;
  -webkit-transition-delay: linear;
  transition: background-color 0.25s 0 linear;
}
/* line 40, _tables.scss */
table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #a9b4c1;
}

/* line 49, _tables.scss */
.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

/* line 56, _tables.scss */
.table-bordered {
  border: 1px solid #8c9bab;
  border-left: 0;
  border-collapse: separate;
  *border-collapse: collapsed;
}
/* line 62, _tables.scss */
.table-bordered th,
.table-bordered td {
  border-left: 1px solid #8c9bab;
}
/* line 66, _tables.scss */
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

/* line 76, _tables.scss */
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #c7ced6;
}

/* grid =================================================== 
===============================================================
===============================================================
===============================================================
===============================================================
===============================================================
===============================================================
===============================================================
*/
@media only screen and (min-width: 768px) {
  /* line 10, _page.scss */
  [class*="col-"] {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
/* line 16, _page.scss */
[class*="col-"]:last-child {
  margin-right: 0;
}
@media only screen and (min-width: 768px) {
  /* line 20, _page.scss */
  [class*="col-"].reversed {
    float: right;
    margin-right: 0;
  }
}
@media only screen and (min-width: 768px) {
  /* line 26, _page.scss */
  [class*="col-"].reversed:last-child {
    margin-right: 4%;
  }
}

@media only screen and (min-width: 768px) {
  /* line 36, _page.scss */
  .col-3 {
    margin-right: 4%;
    width: 23%;
  }
  /* line 41, _page.scss */
  .personal .col-3 {
    margin-right: 2.5%;
  }
  /* line 44, _page.scss */
  .personal .col-3:last-child {
    margin-right: 0;
  }
}

@media only screen and (min-width: 768px) {
  /* line 51, _page.scss */
  .col-4 {
    margin-right: 4%;
    width: 30%;
  }
}

@media only screen and (min-width: 768px) {
  /* line 59, _page.scss */
  .col-7 {
    width: 52%;
    margin-right: 4%;
  }
  /* line 64, _page.scss */
  .col-7.no-margen {
    margin-right: 0;
    width: 56%;
  }
}
@media only screen and (min-width: 960px) {
  /* line 59, _page.scss */
  .col-7 {
    width: 56%;
  }
  /* line 73, _page.scss */
  .col-7.no-margen {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  /* line 79, _page.scss */
  .col-8 {
    margin-right: 4%;
    width: 66%;
  }
}

@media only screen and (min-width: 768px) {
  /* line 86, _page.scss */
  .col-9 {
    margin-right: 4%;
    width: 73%;
  }
}

@media only screen and (min-width: 768px) {
  /* line 93, _page.scss */
  .col-5 {
    margin-right: 4%;
    width: 44%;
  }
}
@media only screen and (min-width: 960px) {
  /* line 93, _page.scss */
  .col-5 {
    width: 40%;
  }
}

@media only screen and (min-width: 768px) {
  /* line 105, _page.scss */
  .col-6 {
    margin-right: 4%;
    width: 48%;
  }
  /* line 110, _page.scss */
  .col-6.no-margen {
    margin-right: 0;
    width: 52%;
  }
}
