@font-face {
font-family: 'SegoeUI';
src: url('../fonts/segoeui.eot');
src: url('../fonts/segoeui.eot?#iefix') format('embedded-opentype'),
url('../fonts/segoeui.woff') format('woff'),
url('../fonts/segoeui.ttf') format('truetype'),
url('../fonts/segoeui.svg#segoeui') format('svg');
font-weight : normal;
font-style : normal;
}

@font-face {
font-family: 'MuseoSans100';
src: url('../fonts/museosans-100-webfont.eot');
src: url('../fonts/museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/museosans-100-webfont.woff') format('woff'),
url('../fonts/museosans-100-webfont.ttf') format('truetype'),
url('../fonts/museosans-100-webfont.svg#museosans-100-webfont') format('svg');
font-weight : normal;
font-style : normal;
}

@font-face {
font-family: 'MuseoSans300';
src: url('../fonts/museosans-300-webfont.eot');
src: url('../fonts/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
url('../fonts/museosans-300-webfont.woff') format('woff'),
url('../fonts/museosans-300-webfont.ttf') format('truetype'),
url('../fonts/museosans-300-webfont.svg#museosans-300-webfont') format('svg');
font-weight : normal;
font-style : normal;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-alone {
  display: inline-block; /* Fix for clickability issue in WebKit */
}
.screen-reader-text { /* Reusable, toolbox kind of class */
  position: absolute;
  top: -9999px;
  left: -9999px;
}