/* grid =================================================== 
===============================================================
===============================================================
===============================================================
===============================================================
===============================================================
===============================================================
===============================================================
*/
[class*="col-"]{
	@include breakpoint(intern){
		float:left;
		@include box-sizing(border-box);
	}

	&:last-child{
		margin-right: 0;
	}

	&.reversed{
		@include breakpoint(intern){
			float: right;
			margin-right: 0;
		}

		&:last-child{
			@include breakpoint(intern){
				margin-right: 4%;
			}
		}
	} //.reversed

} //que tenga .col


.col-3{
	@include breakpoint(intern){
		margin-right: 4%;
		width: 23%;

		.personal &{
			margin-right: 2.5%;

			&:last-child{
				margin-right: 0;
			}
		}
	}
} //.col-3

.col-4{
	@include breakpoint(intern){
		margin-right: 4%;
		width: 30%;
	}
}


.col-7{
	@include breakpoint(intern){
		width: 52%;
		margin-right: 4%;

		&.no-margen{
			margin-right: 0;
			width: 56%;
		}
	}

	@include breakpoint(junior){
		width:56%;

		&.no-margen{
			width: 60%;
		}
	}
} //.col-7

.col-8{
	@include breakpoint(intern){
		margin-right: 4%;
		width: 66%;
	}
}

.col-9{
	@include breakpoint(intern){
		margin-right: 4%;
		width: 73%;
	}
}

.col-5{
	@include breakpoint(intern){
		margin-right: 4%;
		width: 44%;
	}

	@include breakpoint(junior){
		width: 40%;
	}

} //.col-5

.col-6{
	@include breakpoint(intern){
		margin-right: 4%;
		width: 48%;

		&.no-margen{
			margin-right: 0;
			width: 52%;
		}

	}

} //.col-5


